---
import CTAButton from "./CTAButton.astro";
---

<section class="contact">
    <h3>Get In Touch</h3>
    <p>
        If you need help with your product, would like to chat about building
        something together, or just discuss ideas, let's chat. I'm based in
        Berlin, but work globally.
    </p>
    <CTAButton text="Contact Me" shine={false} />
</section>
<style>
    h3 {
        font-size: 1.75rem;
        margin-bottom: 1.75rem;
    }

    .contact {
        text-align: center;
        background: var(--bg-secondary);
        padding: 3rem;
        border-radius: 8px;
    }
</style>
