<section class="services">
    <h2>Services</h2>

    <div class="service-grid">
        <div class="service-card">
            <h4>Project Leadership</h4>
            <p>
                Having led technical and business teams globally, I'm a
                seasoned agile practitioner, with a focus on stakeholder
                management and collaboration. Either as a Fractional
                CTO/CPO, or as a project leader, I help teams deliver the
                right products.
            </p>
        </div>
        <div class="service-card">
            <h4>Customer Development</h4>
            <p>
                With deep expertise in market research, consumer behavior,
                and design thinking, I can help identify and clarify
                customer problems, targets, design user journeys and value
                propositions to focus the development of the right products.
            </p>
        </div>
        <div class="service-card">
            <h4>MVP Development & Prototyping</h4>
            <p>
                I'm a fan of rapid testing and data-driven iteration to
                refine products based on user feedback. My skills include
                both front-end and back-end development for building
                prototypes, MVPs, or production-ready applications.
            </p>
        </div>
        <div class="service-card">
            <h4>Go To Market Strategies</h4>
            <p>
                From defining the ideal distribution model, identifying
                channels and partners, to planning communication and
                advertising, I assist in launching products in the market
                with a focus on maximum learning and return on investment.
            </p>
        </div>
    </div>
</section>

<style>
        h2 {
        font-size: 1.75rem;
        margin-bottom: 1.75rem;
    }
    h3 {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .service-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
        margin-top: 2rem;
    }

    .service-card {
        padding: 1.5rem;
        border-radius: 8px;
        background: var(--bg-secondary);
    }

    .service-card h4 {
        margin-bottom: 1rem;
        color: var(--accent);
    }

</style>